node_modules/
DevInit/Uganda/Educ/educ-1_1.png
DevInit/Uganda/Educ/educ.xml
DevInit/Uganda/Educ/tmp/Uganda Primary Leaving Examinations Results 2014.csv
DevInit/Uganda/Educ/tmp/Uganda Primary Leaving Examinations Results 2014.pdf
DevInit/Uganda/Educ/Uganda Primary Leaving Examinations Results 2014.pdf
Finance/*.csv
Finance/data/*
DevInit/R/GHA/presentation/crs2000.csv
DevInit/START/crisis_dummy.csv
surveys.json 
